<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Books</h1>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
        <tr>
          <tb>a</tb>
          <tb>aa</tb>
          <tb>show</tb>
          <tb>Edit</tb>
          <tb>Destroy</tb>
        </tr>
        <tr>
          <tb>リーダブルコード</tb>
          <tb>より良いコードを書くためのシンプルで実践的なテクニック</tb>
          <tb>show</tb>
          <tb>Edit</tb>
          <tb>Destroy</tb>
        </tr>
        <tr>
          <tb>トラブル知らずのシステム設計</tb>
          <tb>システム設計の要点を図解で説明してくれます</tb>
          <tb>show</tb>
          <tb>Edit</tb>
          <tb>Destroy</tb>
        </tr>
        <tr>
          <tb>たのしいRuby</tb>
          <tb>Rubyの入門におすすめです</tb>
           <tb>show</tb>
          <tb>Edit</tb>
          <tb>Destroy</tb>
        </tr>
         <tr>
          <tb>入門Git</tb>
          <tb>gitについての基本操作から内部構造まで解説してくれます</tb>
           <tb>show</tb>
          <tb>Edit</tb>
          <tb>Destroy</tb>
        </tr>
         <tr>
          <tb>アルゴリズム図鑑</tb>
          <tb>アルゴリズムについてカラーイラストでしっかり解説してくれます</tb>
           <tb>show</tb>
          <tb>Edit</tb>
          <tb>Destroy</tb>
        </tr>
         <tr>
          <tb>達人プログラマー</tb>
          <tb>プログラマ入門者は必須！</tb>
           <tb>show</tb>
          <tb>Edit</tb>
          <tb>Destroy</tb>
        </tr>
         <tr>
          <tb>データベース実践入門</tb>
          <tb>効率的なSQL文を教えてくれます</tb>
           <tb>show</tb>
          <tb>Edit</tb>
          <tb>Destroy</tb>
        </tr>
      </tbody>
    </table>



    <%= yield %>
  </body>
</html>
